.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-block: 24px;
    z-index: 90;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header__menu-burger {
    --size: 42.4px;
    display: none;
    width: var(--size);
    height: var(--size);
    margin-inline-start: auto;
    border: none;
    font-size: 20px;
    color: var(--primary-foreground);
    background-color: var(--primary);
    border-radius: var(--rounded-base);
}