.navigation {
    --blur: 8px;
    padding: 16px 40px;
    background-color: rgba(255, 255, 255, .08);
    border-radius: var(--rounded-base);
    -webkit-backdrop-filter: blur(var(--blur));
    -moz-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
}

.navigation__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.navigation__menu-link {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: var(--primary-foreground);
    transition: color 200ms;
}

.navigation__menu-link:is(:hover, :active) {
    color: var(--accent-foreground);
}

.navigation__menu-link.navigation__menu-link--active {
    position: relative;
}

.navigation__menu-link.navigation__menu-link--active::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 1px;
}