.plan-card {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--primary-foreground);
}

.plan-card__body {
    position: absolute;
    inset: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.plan-card__body-alt {
    margin-block-start: auto;
    display: grid;
    row-gap: 8px;
}

.plan-card__body-title {
    color: currentColor;
}

.plan-card__body-text {
    color: var(--gray);
}

.plan-card__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}