.visitors {
    width: 480px;
    padding: 24px;
    color: var(--foreground);
    background-color: var(--gray);
    overflow: hidden;
}

.visitors__wrapper {
    position: relative;
}

.visitors__text {
    display: grid;
    row-gap: 16px;
}

.visitors__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    height: 267px;
    object-fit: cover;
}